@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin eclipse {
  width: 8rem;
  height: 8rem;
}

@keyframes design {
  0% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

@keyframes photography {
  0% {
    width: 0%;
  }

  100% {
    width: 65%;
  }
}

@keyframes marketing {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes branding {
  0% {
    width: 0%;
  }

  100% {
    width: 30%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  font-size: 10px;
  list-style: none;
  font-family: "Nanum Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {}

html {
  margin: auto;
}

header {
  position: relative;
  height: 101vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Background.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 55%;


  .nav--mobile {
    position: absolute;
    width: 100%;
    transition: 0.5s;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      line-height: 50px;
      background-color: #15263e;

      li {
        list-style: none;

        a {
          height: 40px;
          line-height: 50px;
          color: #fff;
          text-decoration: none;
          display: block;
          font-size: 1.5rem;

          &:hover,
          &.active {
            color: #fff;
            background: #2196f3;
          }
        }
      }
    }

    &__toogle {
      display: none;
      color: #15263e;
      font-size: 5rem;
      line-height: 5rem;
      position: fixed;
      top: 8%;
      right: 15%;
      z-index: 999;

      i {
        font-size: 5rem;
      }
    }
  }

  div.header--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    color: #fff;

    &__p1 {
      padding-top: 3rem;
      font-size: 4.7rem;
    }

    &__name {
      font-size: 12rem;

      line-height: 15rem;
      font-weight: 450;
      background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &__surname {
      font-size: 9rem;
      letter-spacing: 1.5rem;
      margin: 0 auto;
    }

    &__p2 {
      font-size: 1.5rem;
      letter-spacing: 0rem;
    }

    &__button {
      padding-top: 3rem;

      button {
        margin-top: 6rem;
        padding: 1rem;
        border: none;
        line-height: 4rem;
        font-size: 1.8rem;
        color: #fff;
        background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
      }
    }
  }
}

article {
  height: 150vh;

  .about--container {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__text {
      height: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      width: 50%;
      padding-right: 3rem;

      align-self: flex-end;

      h1 {
        font-size: 3rem;
        letter-spacing: 0.4rem;
        line-height: 3.5rem;
        color: #15263e;
        text-align: right;
      }

      h2 {
        margin: 0;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
        line-height: 3rem;
        color: #a21af0;
        text-align: right;
      }

      h3 {
        font-weight: 400;

        font-size: 1rem;
        line-height: 2rem;
        text-align: right;
      }
    }

    &__image {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Layer3.png);
      height: 33%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__chart {
      height: 33%;
      display: flex;
      justify-content: center;
      align-items: center;

      .skills {
        width: 70%;

        li {
          line-height: 3rem;
          padding-bottom: 1.5rem;
        }

        h3 {
          font-size: 1.5rem;
          text-align: center;
        }

        .bar {
          background-color: #fff;
          display: block;
          height: 0.5rem;

          border-radius: 1.5rem;
          overflow: hidden;

          span {
            height: 100%;
            float: left;
            background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
            border-radius: 1.5rem;
          }

          span.design {
            width: 80%;
            //animation: design 2s;
          }

          span.photography {
            width: 65%;
            // animation: photography 2s;
          }

          span.marketing {
            width: 50%;
            // animation: marketing 2s;
          }

          span.branding {
            width: 30%;
            // animation: branding 2s;
          }
        }
      }
    }
  }
}

section.contacts {
  padding: 1rem 0;
  height: 40vh;
  background-color: #dcdcde;

  .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--phone {
      display: flex;
      height: auto;
      width: 60%;

      &__img {
        @include eclipse;
        background-color: #384363;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__container {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
          font-size: 1.2rem;
        }
      }
    }

    &--address {
      display: flex;
      height: auto;
      width: 60%;

      &__img {
        @include eclipse;
        background-color: #384363;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__container {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
          font-size: 1.2rem;
        }
      }
    }

    &--email {
      display: flex;
      height: auto;
      width: 60%;

      &__img {
        @include eclipse;
        background-color: #384363;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__container {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
          font-size: 1.2rem;
        }
      }
    }
  }
}

i {
  font-size: 3rem;
  color: white;
}

.services {
  height: 220vh;

  &--logo {
    padding-top: 1rem;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
      font-size: 4rem;
      color: #15263e;
      letter-spacing: 0.3rem;
    }

    h2 {
      color: #4d4d4d;
      font-size: 1.5rem;
      width: 75%;
      text-align: center;
    }
  }

  &--container {
    height: 85%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    width: 60%;
    margin: 0 auto;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center;

      div {
        @include eclipse;
        border-radius: 100%;
        background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        color: #4d4d4d;
      }

      h2 {
        color: #494949;
        letter-spacing: 2px;
        font-size: 1rem;
      }
    }
  }
}

.testimonials {
  height: 100vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Rectangle.png);
  background-size: 250% 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  color: white;

  &--wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 1fr 0.8fr;
    height: 100%;

    &__heading {
      font-size: 3rem;
      @include flex-center;
      font-weight: 700;
    }

    &__text {
      @include flex-center;
      font-size: 1.5rem;
      margin: 0 4rem;
      text-align: right;
      position: relative;
      line-height: 2.5rem;

      &::before {
        content: "“";
        font-size: 6rem;
        position: absolute;
        top: 0%;
        left: 5%;
        transform: rotate(180deg);
      }

      &::after {
        content: "“";
        position: absolute;
        bottom: 0%;
        right: 5%;
        font-size: 6rem;
        width: 100%;
      }
    }

    &__person {
      @include flex-center;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;

      div:nth-of-type(1) {
        @include eclipse;
        border-radius: 100%;
        background-image: url(https://kasib-94.github.io/WebsiteProject/img/eclipse.png);
        background-size: contain;
      }

      div:nth-of-type(2) {
        @include flex-center;
        height: 10rem;

        h1 {
          font-size: 2.5rem;
          line-height: 4rem;
        }

        h2 {
          font-size: 1.5rem;
          color: #c714d5;
        }
      }
    }
  }
}

.portfolio {
  height: 250vh;

  &--heading {
    height: 10%;
    @include flex-center;
    justify-content: space-evenly;

    h1:nth-of-type(1) {
      font-size: 3rem;
      letter-spacing: 3px;
      color: #15263e;
    }

    h1:nth-of-type(2) {
      font-size: 1.3rem;
      color: #4d4d4d;
    }
  }

  &--container {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "menu img1"
      "menu img2"
      "menu img3"
      "menu img4"
      "menu img5"
      "menu img6";
    padding-bottom: 2rem;

    &__menu {
      @include flex-center;
      justify-content: right;
      align-content: left;
      grid-area: menu;

      p {
        font-size: 1.2rem;

        padding: 1rem 1rem;
        line-height: 2rem;
        width: 100%;
        color: #4d4d4d;

        &:hover {
          color: #a91aef;
        }
      }
    }

    div {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-top: 1rem;
    }

    div:nth-of-type(7) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Summer-Beach-Party-Flyer-Template-Free-PSD.png);
    }

    div:nth-of-type(3) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Nature-Tri-Fold-Brochure-Template-Free-PSD.png);
    }

    div:nth-of-type(2) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Restaurant-Table-Tent-Template-Free-PSD.png);
    }

    div:nth-of-type(5) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Construction-Company-Website-Template-Free-PSD-D.png);
    }

    div:nth-of-type(6) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Creative-White-Business-Card-Free-PSD.png);
    }

    div:nth-of-type(4) {
      background-image: url(https://kasib-94.github.io/WebsiteProject/img/Professional-Resume-CV-Template-Free-PSD.png);
    }
  }
}

section.experience {
  width: 100%;
  height: 130vh;
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  color: white;

  .experience {
    width: 100%;

    &--heading {
      @include flex-center;
      height: 20%;
      justify-content: space-evenly;

      h1 {
        letter-spacing: 0.4rem;
        font-size: 3rem;
      }

      h2 {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        text-align: center;
      }
    }

    &--example {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0px 1rem;
      height: 20%;

      &__name {
        flex-basis: 80%;
        order: 2;
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 1.4rem;
        font-weight: 900;
      }

      &__rectangle {
        height: 5rem;
        width: 1rem;
        background-color: white;
        order: 1;
      }

      &__text {
        padding-top: 1rem;
        flex-basis: 100%;
        order: 2;
        font-size: 1.2rem;
      }

      .name-even {
        order: 1;
        text-align: right;
      }
    }
  }
}

section.blog {
  height: 150vh;

  .blog {
    &--container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.8fr 2fr 2fr 2fr;
      padding: 1rem;
    }

    &--heading {
      @include flex-center;
      justify-content: space-evenly;

      &__h1 {
        font-size: 2.5rem;
        color: #15263e;
      }

      &__h2 {
        font-size: 1.3rem;
        color: #4d4d4d;
      }
    }

    &--item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__img {
        height: 60%;
        background-size: cover;
      }

      &__h1 {
        font-size: 1rem;
        color: #929292;
        font-weight: 800;
      }

      &__h2 {
        font-size: 1.5rem;
        color: #15263e;
        font-weight: 900;
      }

      &__h3 {
        font-size: 1rem;
        color: #494949;
        letter-spacing: 1.5px;
      }

      .img1 {
        background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-1.png);
      }

      .img2 {
        background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-2.png);
      }

      .img3 {
        background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-3.png);
      }
    }
  }
}

section.footer {
  height: 100vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/contact-us-bgc.png);
  background-size: cover;
  @include flex-center;

  .footer {
    &--form {
      width: 90%;
      height: 90%;
      background-color: #15263e;

      &__heading {
        @include flex-center;
        justify-content: space-evenly;
        height: 15%;
        color: #fff;

        :nth-child(1) {
          letter-spacing: 0.4rem;
          font-size: 3rem;
          font-weight: 900;
          padding-top: 1rem;
        }

        :nth-child(2) {
          font-size: 1.1rem;
          letter-spacing: 0.2rem;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          text-align: center;
          padding-top: 1rem;
        }
      }

      &__body {
        text-align: center;
        height: 85%;
        @include flex-center;
        justify-content: space-evenly;

        :nth-child(4) {
          width: 60%;

          margin-top: 1rem;
          text-align: left;
          font-size: 2rem;
        }

        input {
          width: 60%;
          padding: 1rem;
          margin-top: 0.7rem;
          text-align: left;
          font-size: 2rem;
        }

        button {
          display: block;
          border: none;
          line-height: 4rem;
          font-size: 1.8rem;
          color: #fff;
          background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
          padding: 1rem 1rem;
        }
      }
    }
  }
}

footer {
  height: 15vh;
  @include flex-center;

  .footer {
    font-size: 1.3rem;
  }
}

.fa-times:before,
.fa-bars:before {
  font-size: 5rem;
  color: #15263e;
}

.fa-times:before {
  display: none;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  * {
    font-size: 15px;

    section.contacts {
      .contact {
        flex-direction: row;
        padding: 2rem;
      }
    }

    .services {
      height: 120vh;

      &--container {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        width: 90%;
      }
    }

    section.experience {
      .experience {
        &--example {
          flex-wrap: nowrap;

          &__name {
            order: 0;
            flex-basis: 30%;
            line-height: 2rem;
            text-align: center;
          }

          &__rectangle {
            order: 1;
            margin-right: 20px;

            &.rectangle-even {
              order: 1;
            }
          }

          &__text {
            order: 2;
            text-align: justify;
            flex-basis: 70%;
            padding: 0;

            &.text-even {
              order: 0;
              text-align: left;
            }
          }

          .name-even {
            order: 2;
            text-align: center;
          }
        }
      }
    }
  }

  .portfolio {
    height: 160vh;

    &--container {
      padding-right: 0.5rem;
      grid-template-columns: 1fr 2fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-column-gap: 2rem;
      grid-template-areas:
        "menu img1 img2"
        "menu img3 img4"
        "menu img5 img6";
    }
  }

  section.blog {
    height: 100vh;

    .blog {
      &--item {
        &__img {
          height: 50%;
        }

        .img1 {
          background-size: 100% 100%;
        }

        .img2 {}

        .img3 {}
      }

      &--heading {
        grid-area: menu;
      }

      &--container {
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2.5fr;
        grid-column-gap: 1rem;
        grid-template-areas:
          "menu menu menu"
          "1 2 3";
      }
    }
  }

  article {
    height: 70vh;

    .about--container {
      flex-direction: row;

      &__text {
        height: 80%;
        flex-basis: 30%;
        text-align: left;
        padding: 0;
        align-self: center;
        justify-content: space-evenly;
      }

      &__image {
        height: 100%;
        flex-basis: 40%;
        background-size: 100% 100%;
      }

      &__chart {
        flex-basis: 30%;
        height: 100%;

        .skills {
          h3 {
            font-size: 1rem;
          }

          .bar {}
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    .nav--mobile {
      position: fixed;
      top: 25%;
      bottom: 25%;
      left: -100%;

      &__toogle {
        display: block;
        z-index: 999;

        i {
          .active {
            display: block;
          }
        }
      }

      ul {
        flex-direction: column;
        text-align: center;
        width: 100%;

        li {
          display: block;

          a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    .active--nav {
      left: 0;
    }
  }
}