@charset "UTF-8";
@-webkit-keyframes design {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes design {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes photography {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes photography {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes marketing {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes marketing {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes branding {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

@keyframes branding {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  font-size: 10px;
  list-style: none;
  font-family: "Nanum Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  margin: auto;
}

header {
  position: relative;
  height: 101vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Background.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 55%;
}

header .nav--mobile {
  position: absolute;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav--mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 50px;
  background-color: #15263e;
}

header .nav--mobile ul li {
  list-style: none;
}

header .nav--mobile ul li a {
  height: 40px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}

header .nav--mobile ul li a:hover, header .nav--mobile ul li a.active {
  color: #fff;
  background: #2196f3;
}

header .nav--mobile__toogle {
  display: none;
  color: #15263e;
  font-size: 5rem;
  line-height: 5rem;
  position: fixed;
  top: 8%;
  right: 15%;
  z-index: 999;
}

header .nav--mobile__toogle i {
  font-size: 5rem;
}

header div.header--container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

header div.header--container__p1 {
  padding-top: 3rem;
  font-size: 4.7rem;
}

header div.header--container__name {
  font-size: 12rem;
  line-height: 15rem;
  font-weight: 450;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header div.header--container__surname {
  font-size: 9rem;
  letter-spacing: 1.5rem;
  margin: 0 auto;
}

header div.header--container__p2 {
  font-size: 1.5rem;
  letter-spacing: 0rem;
}

header div.header--container__button {
  padding-top: 3rem;
}

header div.header--container__button button {
  margin-top: 6rem;
  padding: 1rem;
  border: none;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
}

article {
  height: 150vh;
}

article .about--container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .about--container__text {
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  width: 50%;
  padding-right: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

article .about--container__text h1 {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  line-height: 3.5rem;
  color: #15263e;
  text-align: right;
}

article .about--container__text h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  color: #a21af0;
  text-align: right;
}

article .about--container__text h3 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  text-align: right;
}

article .about--container__image {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Layer3.png);
  height: 33%;
  background-repeat: no-repeat;
  background-size: cover;
}

article .about--container__chart {
  height: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .about--container__chart .skills {
  width: 70%;
}

article .about--container__chart .skills li {
  line-height: 3rem;
  padding-bottom: 1.5rem;
}

article .about--container__chart .skills h3 {
  font-size: 1.5rem;
  text-align: center;
}

article .about--container__chart .skills .bar {
  background-color: #fff;
  display: block;
  height: 0.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

article .about--container__chart .skills .bar span {
  height: 100%;
  float: left;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  border-radius: 1.5rem;
}

article .about--container__chart .skills .bar span.design {
  width: 80%;
}

article .about--container__chart .skills .bar span.photography {
  width: 65%;
}

article .about--container__chart .skills .bar span.marketing {
  width: 50%;
}

article .about--container__chart .skills .bar span.branding {
  width: 30%;
}

section.contacts {
  padding: 1rem 0;
  height: 40vh;
  background-color: #dcdcde;
}

section.contacts .contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.contacts .contact--phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 60%;
}

section.contacts .contact--phone__img {
  width: 8rem;
  height: 8rem;
  background-color: #384363;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contacts .contact--phone__container {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contacts .contact--phone__container h1 {
  font-size: 1.2rem;
}

section.contacts .contact--address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 60%;
}

section.contacts .contact--address__img {
  width: 8rem;
  height: 8rem;
  background-color: #384363;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contacts .contact--address__container {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contacts .contact--address__container h1 {
  font-size: 1.2rem;
}

section.contacts .contact--email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 60%;
}

section.contacts .contact--email__img {
  width: 8rem;
  height: 8rem;
  background-color: #384363;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contacts .contact--email__container {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.contacts .contact--email__container h1 {
  font-size: 1.2rem;
}

i {
  font-size: 3rem;
  color: white;
}

.services {
  height: 220vh;
}

.services--logo {
  padding-top: 1rem;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services--logo h1 {
  font-size: 4rem;
  color: #15263e;
  letter-spacing: 0.3rem;
}

.services--logo h2 {
  color: #4d4d4d;
  font-size: 1.5rem;
  width: 75%;
  text-align: center;
}

.services--container {
  height: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
      grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  width: 60%;
  margin: 0 auto;
}

.services--container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.services--container__item div {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services--container__item h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #4d4d4d;
}

.services--container__item h2 {
  color: #494949;
  letter-spacing: 2px;
  font-size: 1rem;
}

.testimonials {
  height: 100vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Rectangle.png);
  background-size: 250% 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  color: white;
}

.testimonials--wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 20% 1fr 0.8fr;
      grid-template-rows: 20% 1fr 0.8fr;
  height: 100%;
}

.testimonials--wrapper__heading {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.testimonials--wrapper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  margin: 0 4rem;
  text-align: right;
  position: relative;
  line-height: 2.5rem;
}

.testimonials--wrapper__text::before {
  content: "“";
  font-size: 6rem;
  position: absolute;
  top: 0%;
  left: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials--wrapper__text::after {
  content: "“";
  position: absolute;
  bottom: 0%;
  right: 5%;
  font-size: 6rem;
  width: 100%;
}

.testimonials--wrapper__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.testimonials--wrapper__person div:nth-of-type(1) {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/eclipse.png);
  background-size: contain;
}

.testimonials--wrapper__person div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10rem;
}

.testimonials--wrapper__person div:nth-of-type(2) h1 {
  font-size: 2.5rem;
  line-height: 4rem;
}

.testimonials--wrapper__person div:nth-of-type(2) h2 {
  font-size: 1.5rem;
  color: #c714d5;
}

.portfolio {
  height: 250vh;
}

.portfolio--heading {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio--heading h1:nth-of-type(1) {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #15263e;
}

.portfolio--heading h1:nth-of-type(2) {
  font-size: 1.3rem;
  color: #4d4d4d;
}

.portfolio--container {
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "menu img1" "menu img2" "menu img3" "menu img4" "menu img5" "menu img6";
  padding-bottom: 2rem;
}

.portfolio--container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: left;
      align-content: left;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  grid-area: menu;
}

.portfolio--container__menu p {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  line-height: 2rem;
  width: 100%;
  color: #4d4d4d;
}

.portfolio--container__menu p:hover {
  color: #a91aef;
}

.portfolio--container div {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.portfolio--container div:nth-of-type(7) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Summer-Beach-Party-Flyer-Template-Free-PSD.png);
}

.portfolio--container div:nth-of-type(3) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Nature-Tri-Fold-Brochure-Template-Free-PSD.png);
}

.portfolio--container div:nth-of-type(2) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Restaurant-Table-Tent-Template-Free-PSD.png);
}

.portfolio--container div:nth-of-type(5) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Construction-Company-Website-Template-Free-PSD-D.png);
}

.portfolio--container div:nth-of-type(6) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Creative-White-Business-Card-Free-PSD.png);
}

.portfolio--container div:nth-of-type(4) {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/Professional-Resume-CV-Template-Free-PSD.png);
}

section.experience {
  width: 100%;
  height: 130vh;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  color: white;
}

section.experience .experience {
  width: 100%;
}

section.experience .experience--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.experience .experience--heading h1 {
  letter-spacing: 0.4rem;
  font-size: 3rem;
}

section.experience .experience--heading h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

section.experience .experience--example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 1rem;
  height: 20%;
}

section.experience .experience--example__name {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  font-weight: 900;
}

section.experience .experience--example__rectangle {
  height: 5rem;
  width: 1rem;
  background-color: white;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

section.experience .experience--example__text {
  padding-top: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 1.2rem;
}

section.experience .experience--example .name-even {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: right;
}

section.blog {
  height: 150vh;
}

section.blog .blog--container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.8fr 2fr 2fr 2fr;
      grid-template-rows: 0.8fr 2fr 2fr 2fr;
  padding: 1rem;
}

section.blog .blog--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.blog .blog--heading__h1 {
  font-size: 2.5rem;
  color: #15263e;
}

section.blog .blog--heading__h2 {
  font-size: 1.3rem;
  color: #4d4d4d;
}

section.blog .blog--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.blog .blog--item__img {
  height: 60%;
  background-size: cover;
}

section.blog .blog--item__h1 {
  font-size: 1rem;
  color: #929292;
  font-weight: 800;
}

section.blog .blog--item__h2 {
  font-size: 1.5rem;
  color: #15263e;
  font-weight: 900;
}

section.blog .blog--item__h3 {
  font-size: 1rem;
  color: #494949;
  letter-spacing: 1.5px;
}

section.blog .blog--item .img1 {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-1.png);
}

section.blog .blog--item .img2 {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-2.png);
}

section.blog .blog--item .img3 {
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/blog-img-3.png);
}

section.footer {
  height: 100vh;
  background-image: url(https://kasib-94.github.io/WebsiteProject/img/contact-us-bgc.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.footer .footer--form {
  width: 90%;
  height: 90%;
  background-color: #15263e;
}

section.footer .footer--form__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 15%;
  color: #fff;
}

section.footer .footer--form__heading :nth-child(1) {
  letter-spacing: 0.4rem;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 1rem;
}

section.footer .footer--form__heading :nth-child(2) {
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

section.footer .footer--form__body {
  text-align: center;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.footer .footer--form__body :nth-child(4) {
  width: 60%;
  margin-top: 1rem;
  text-align: left;
  font-size: 2rem;
}

section.footer .footer--form__body input {
  width: 60%;
  padding: 1rem;
  margin-top: 0.7rem;
  text-align: left;
  font-size: 2rem;
}

section.footer .footer--form__body button {
  display: block;
  border: none;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(39%, #a21af0), color-stop(81%, #ff0072));
  background: linear-gradient(to top right, #a21af0 39%, #ff0072 81%);
  padding: 1rem 1rem;
}

footer {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer {
  font-size: 1.3rem;
}

.fa-times:before,
.fa-bars:before {
  font-size: 5rem;
  color: #15263e;
}

.fa-times:before {
  display: none;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  * {
    font-size: 15px;
  }
  * section.contacts .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem;
  }
  * .services {
    height: 120vh;
  }
  * .services--container {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    width: 90%;
  }
  * section.experience .experience--example {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  * section.experience .experience--example__name {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    line-height: 2rem;
    text-align: center;
  }
  * section.experience .experience--example__rectangle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 20px;
  }
  * section.experience .experience--example__rectangle.rectangle-even {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  * section.experience .experience--example__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: justify;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 0;
  }
  * section.experience .experience--example__text.text-even {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: left;
  }
  * section.experience .experience--example .name-even {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .portfolio {
    height: 160vh;
  }
  .portfolio--container {
    padding-right: 0.5rem;
    -ms-grid-columns: 1fr 2fr 2fr;
        grid-template-columns: 1fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
        grid-template-areas: "menu img1 img2" "menu img3 img4" "menu img5 img6";
  }
  section.blog {
    height: 100vh;
  }
  section.blog .blog--item__img {
    height: 50%;
  }
  section.blog .blog--item .img1 {
    background-size: 100% 100%;
  }
  section.blog .blog--heading {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: menu;
  }
  section.blog .blog--container {
    height: 100%;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 2.5fr;
        grid-template-rows: 1fr 2.5fr;
    grid-column-gap: 1rem;
        grid-template-areas: "menu menu menu" "1 2 3";
  }
  article {
    height: 70vh;
  }
  article .about--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  article .about--container__text {
    height: 80%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  article .about--container__image {
    height: 100%;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background-size: 100% 100%;
  }
  article .about--container__chart {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    height: 100%;
  }
  article .about--container__chart .skills h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  header .nav--mobile {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: -100%;
  }
  header .nav--mobile__toogle {
    display: block;
    z-index: 999;
  }
  header .nav--mobile__toogle i .active {
    display: block;
  }
  header .nav--mobile ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  header .nav--mobile ul li {
    display: block;
  }
  header .nav--mobile ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  header .active--nav {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */